<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>비회원제 게시판</title>
</head>
<body>
<div th:replace="header.html::header"></div>

<div class="container" id="boardlist"  style="text-align:center">
    <h5>자유게시판</h5>
    <!-- 여기에 카테고리 버튼 -->
    <button><a href="/writer">글쓰기</a></button>

    <table class="table" id="alltable">
        <!--뿌리기-->
    </table>

</div>

<script src="/js/list.js"></script>
<script src="/js/BoardTable.js"></script>
</body>
</html>