<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>

    <h3>글 작성</h3>

    <form id="board_write_form">
        제목 : <input type="text" name="btitle"><br>
        내용 : <input type="text" name="bcontent"><br>
        이름 : <input type="text" name="bwriter"><br>
        비밀번호 : <input type="text" name="bpw"><br>
        <br>
        <button type="button" onclick="save()">등록</button>
        <button type="button"><a href="/">작성 취소</a></button>
    </form>

<script src="/js/BoardTable.js"></script>
</body>
</html>